:root {
  --main-geek: #5c6875;
  --dark-geek: #1b1f3b;
  --medium-geek: #94a3b6;
  --main-geek-hover: #4C5660;
  --medium-geek-hover: #7A8695;
}

* {
  font-family: 'Nunito', sans-serif;
}

/* Splash */
#loader {
  width: 80px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px -40px;
  z-index: 1000;

}

.lightsaber {
  position: absolute;
  width: 4px;
  height: 12px;
  background-color: #666;
  border-radius: 1px;
  bottom: 0;
}

.lightsaber.ls-left {
  left: 0;
}

.lightsaber.ls-right {
  right: 0;
}

.lightsaber:before {
  position: absolute;
  content: ' ';
  display: block;
  width: 2px;
  height: 25px;
  max-height: 1px;
  left: 1px;
  top: 1px;
  background-color: #fff;
  border-radius: 1px;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top;
}

.lightsaber:after {
  position: absolute;
  content: ' ';
  display: block;
  width: 2px;
  height: 2px;
  left: 1px;
  top: 4px;
  background-color: #fff;
  border-radius: 50%;
}

.ls-particles {
  position: absolute;
  left: 42px;
  top: 10px;
  width: 1px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}


.lightsaber.ls-green:before {
  -webkit-animation: showlightgreen 2s ease-in-out infinite 1s; animation: showlightgreen 2s ease-in-out infinite 1s;
}

.lightsaber.ls-red:before {
  -webkit-animation: showlightred 2s ease-in-out infinite 1s; animation: showlightred 2s ease-in-out infinite 1s;
}


.lightsaber.ls-left {
  -webkit-animation: fightleft 2s ease-in-out infinite 1s; animation: fightleft 2s ease-in-out infinite 1s;
}

.lightsaber.ls-right {
  -webkit-animation: fightright 2s ease-in-out infinite 1s; animation: fightright 2s ease-in-out infinite 1s;
}

.ls-particles.ls-part-1 {
  -webkit-animation: particles1 2s ease-out infinite 1s; animation: particles1 2s ease-out infinite 1s;
}

.ls-particles.ls-part-2 {
  -webkit-animation: particles2 2s ease-out infinite 1s; animation: particles2 2s ease-out infinite 1s;
}

.ls-particles.ls-part-3 {
  -webkit-animation: particles3 2s ease-out infinite 1s; animation: particles3 2s ease-out infinite 1s;
}

.ls-particles.ls-part-4 {
  -webkit-animation: particles4 2s ease-out infinite 1s; animation: particles4 2s ease-out infinite 1s;
}

.ls-particles.ls-part-5 {
  -webkit-animation: particles5 2s ease-out infinite 1s; animation: particles5 2s ease-out infinite 1s;
}

@-webkit-keyframes showlightgreen {
  0% {
      max-height: 0;
      box-shadow: 0 0 0 0 #87c054;
  }

  5% {
      box-shadow: 0 0 4px 2px #87c054;
  }
  
  10% {
      max-height: 22px;
  }

  80% {
      max-height: 22px;
  }
  
  85% {
      box-shadow: 0 0 4px 2px #87c054;
  }
  
  100% {
      max-height: 0;
      box-shadow: 0 0 0 0 #87c054;
  }
}

@-webkit-keyframes showlightred {
  0% {
      max-height: 0;
      box-shadow: 0 0 0 0 #f06363;
  }

  20% {
      box-shadow: 0 0 4px 2px #f06363;
  }
  
  25% {
      max-height: 22px;
  }

  80% {
      max-height: 22px;
  }
  
  85% {
      box-shadow: 0 0 4px 2px #f06363;
  }
  
  100% {
      max-height: 0;
      box-shadow: 0 0 0 0 #f06363;
  }
}

@-webkit-keyframes fightleft {
  0% {
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
      left: 0;
      bottom: 0;
  }
  
  30% {
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
      bottom: 0;
  }
  
  40% {
      -webkit-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
      left: 0;
      bottom: 2px;
  }
  
  45%{
      -webkit-transform: rotateZ(65deg);
      transform: rotateZ(65deg);
      left: 0;
  }
  
  65%{
      -webkit-transform: rotateZ(410deg);
      transform: rotateZ(410deg);
      left: 30px;
      bottom: 10px;
  }
  
  95% {
      -webkit-transform: rotateZ(410deg);
      transform: rotateZ(410deg);
      left: 0;
      bottom: 0;
  }
  
  100% {
      -webkit-transform: rotateZ(360deg);
      transform: rotateZ(360deg);
      left: 0;
      bottom: 0;
  }
}

@-webkit-keyframes fightright {
  0% {
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
      right: 0;
      bottom: 0;
  }
  
  30% {
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
      bottom: 0;
  }
  
  45% {
      -webkit-transform: rotateZ(-45deg);
      transform: rotateZ(-45deg);
      right: 0;
      bottom: 2px;
  }
  
  50%{
      -webkit-transform: rotateZ(-65deg);
      transform: rotateZ(-65deg);
      right: 0;
  }
  
  68%{
      -webkit-transform: rotateZ(-410deg);
      transform: rotateZ(-410deg);
      right: 27px;
      bottom: 13px;
  }
  
  95% {
      -webkit-transform: rotateZ(-410deg);
      transform: rotateZ(-410deg);
      right: 0;
      bottom: 0;
  }
  
  100% {
      -webkit-transform: rotateZ(-360deg);
      transform: rotateZ(-360deg);
      right: 0;
      bottom: 0;
  }
}

@-webkit-keyframes particles1 {
  0% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(35deg) translateY(0px);
      transform: rotateZ(35deg) translateY(0px);
  }
  
  63% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(35deg) translateY(0px);
      transform: rotateZ(35deg) translateY(0px);
  }
  
  64% {
      background-color: rgba(51, 51, 51,1);
      -webkit-transform: rotateZ(35deg) translateY(0px);
      transform: rotateZ(35deg) translateY(0px);
  }
  
  100% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(35deg) translateY(-30px);
      transform: rotateZ(35deg) translateY(-30px);
  }
}

@-webkit-keyframes particles2 {
  0% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-65deg) translateY(0px);
      transform: rotateZ(-65deg) translateY(0px);
  }
  
  63% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-65deg) translateY(0px);
      transform: rotateZ(-65deg) translateY(0px);
  }
  
  64% {
      background-color: rgba(51, 51, 51,1);
      -webkit-transform: rotateZ(-65deg) translateY(0px);
      transform: rotateZ(-65deg) translateY(0px);
  }
  
  95% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-65deg) translateY(-40px);
      transform: rotateZ(-65deg) translateY(-40px);
  }
  
  100% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-65deg) translateY(-40px);
      transform: rotateZ(-65deg) translateY(-40px);
  }
}

@-webkit-keyframes particles3 {
  0% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-75deg) translateY(0px);
      transform: rotateZ(-75deg) translateY(0px);
  }
  
  63% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-75deg) translateY(0px);
      transform: rotateZ(-75deg) translateY(0px);
  }
  
  64% {
      background-color: rgba(51, 51, 51,1);
      -webkit-transform: rotateZ(-75deg) translateY(0px);
      transform: rotateZ(-75deg) translateY(0px);
  }
  
  97% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-75deg) translateY(-35px);
      transform: rotateZ(-75deg) translateY(-35px);
  }
  
  100% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-75deg) translateY(-35px);
      transform: rotateZ(-75deg) translateY(-35px);
  }
}

@-webkit-keyframes particles4 {
  0% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-25deg) translateY(0px);
      transform: rotateZ(-25deg) translateY(0px);
  }
  
  63% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-25deg) translateY(0px);
      transform: rotateZ(-25deg) translateY(0px);
  }
  
  64% {
      background-color: rgba(51, 51, 51,1);
      -webkit-transform: rotateZ(-25deg) translateY(0px);
      transform: rotateZ(-25deg) translateY(0px);
  }
  
  97% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-25deg) translateY(-30px);
      transform: rotateZ(-25deg) translateY(-30px);
  }
  
  100% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-25deg) translateY(-30px);
      transform: rotateZ(-25deg) translateY(-30px);
  }
}

@-webkit-keyframes particles5 {
  0% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(65deg) translateY(0px);
      transform: rotateZ(65deg) translateY(0px);
  }
  
  63% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(65deg) translateY(0px);
      transform: rotateZ(65deg) translateY(0px);
  }
  
  64% {
      background-color: rgba(51, 51, 51,1);
      -webkit-transform: rotateZ(65deg) translateY(0px);
      transform: rotateZ(65deg) translateY(0px);
  }
  
  97% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(65deg) translateY(-35px);
      transform: rotateZ(65deg) translateY(-35px);
  }
  
  100% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(65deg) translateY(-35px);
      transform: rotateZ(65deg) translateY(-35px);
  }
}

@keyframes showlightgreen {
  0% {
      max-height: 0;
      box-shadow: 0 0 0 0 #87c054;
  }

  5% {
      box-shadow: 0 0 4px 2px #87c054;
  }
  
  10% {
      max-height: 22px;
  }

  80% {
      max-height: 22px;
  }
  
  85% {
      box-shadow: 0 0 4px 2px #87c054;
  }
  
  100% {
      max-height: 0;
      box-shadow: 0 0 0 0 #87c054;
  }
}

@keyframes showlightred {
  0% {
      max-height: 0;
      box-shadow: 0 0 0 0 #f06363;
  }

  20% {
      box-shadow: 0 0 4px 2px #f06363;
  }
  
  25% {
      max-height: 22px;
  }

  80% {
      max-height: 22px;
  }
  
  85% {
      box-shadow: 0 0 4px 2px #f06363;
  }
  
  100% {
      max-height: 0;
      box-shadow: 0 0 0 0 #f06363;
  }
}

@keyframes fightleft {
  0% {
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
      left: 0;
      bottom: 0;
  }
  
  30% {
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
      bottom: 0;
  }
  
  40% {
      -webkit-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
      left: 0;
      bottom: 2px;
  }
  
  45%{
      -webkit-transform: rotateZ(65deg);
      transform: rotateZ(65deg);
      left: 0;
  }
  
  65%{
      -webkit-transform: rotateZ(410deg);
      transform: rotateZ(410deg);
      left: 30px;
      bottom: 10px;
  }
  
  95% {
      -webkit-transform: rotateZ(410deg);
      transform: rotateZ(410deg);
      left: 0;
      bottom: 0;
  }
  
  100% {
      -webkit-transform: rotateZ(360deg);
      transform: rotateZ(360deg);
      left: 0;
      bottom: 0;
  }
}

@keyframes fightright {
  0% {
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
      right: 0;
      bottom: 0;
  }
  
  30% {
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
      bottom: 0;
  }
  
  45% {
      -webkit-transform: rotateZ(-45deg);
      transform: rotateZ(-45deg);
      right: 0;
      bottom: 2px;
  }
  
  50%{
      -webkit-transform: rotateZ(-65deg);
      transform: rotateZ(-65deg);
      right: 0;
  }
  
  68%{
      -webkit-transform: rotateZ(-410deg);
      transform: rotateZ(-410deg);
      right: 27px;
      bottom: 13px;
  }
  
  95% {
      -webkit-transform: rotateZ(-410deg);
      transform: rotateZ(-410deg);
      right: 0;
      bottom: 0;
  }
  
  100% {
      -webkit-transform: rotateZ(-360deg);
      transform: rotateZ(-360deg);
      right: 0;
      bottom: 0;
  }
}

@keyframes particles1 {
  0% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(35deg) translateY(0px);
      transform: rotateZ(35deg) translateY(0px);
  }
  
  63% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(35deg) translateY(0px);
      transform: rotateZ(35deg) translateY(0px);
  }
  
  64% {
      background-color: rgba(51, 51, 51,1);
      -webkit-transform: rotateZ(35deg) translateY(0px);
      transform: rotateZ(35deg) translateY(0px);
  }
  
  100% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(35deg) translateY(-30px);
      transform: rotateZ(35deg) translateY(-30px);
  }
}

@keyframes particles2 {
  0% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-65deg) translateY(0px);
      transform: rotateZ(-65deg) translateY(0px);
  }
  
  63% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-65deg) translateY(0px);
      transform: rotateZ(-65deg) translateY(0px);
  }
  
  64% {
      background-color: rgba(51, 51, 51,1);
      -webkit-transform: rotateZ(-65deg) translateY(0px);
      transform: rotateZ(-65deg) translateY(0px);
  }
  
  95% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-65deg) translateY(-40px);
      transform: rotateZ(-65deg) translateY(-40px);
  }
  
  100% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-65deg) translateY(-40px);
      transform: rotateZ(-65deg) translateY(-40px);
  }
}

@keyframes particles3 {
  0% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-75deg) translateY(0px);
      transform: rotateZ(-75deg) translateY(0px);
  }
  
  63% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-75deg) translateY(0px);
      transform: rotateZ(-75deg) translateY(0px);
  }
  
  64% {
      background-color: rgba(51, 51, 51,1);
      -webkit-transform: rotateZ(-75deg) translateY(0px);
      transform: rotateZ(-75deg) translateY(0px);
  }
  
  97% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-75deg) translateY(-35px);
      transform: rotateZ(-75deg) translateY(-35px);
  }
  
  100% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-75deg) translateY(-35px);
      transform: rotateZ(-75deg) translateY(-35px);
  }
}

@keyframes particles4 {
  0% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-25deg) translateY(0px);
      transform: rotateZ(-25deg) translateY(0px);
  }
  
  63% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-25deg) translateY(0px);
      transform: rotateZ(-25deg) translateY(0px);
  }
  
  64% {
      background-color: rgba(51, 51, 51,1);
      -webkit-transform: rotateZ(-25deg) translateY(0px);
      transform: rotateZ(-25deg) translateY(0px);
  }
  
  97% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-25deg) translateY(-30px);
      transform: rotateZ(-25deg) translateY(-30px);
  }
  
  100% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(-25deg) translateY(-30px);
      transform: rotateZ(-25deg) translateY(-30px);
  }
}

@keyframes particles5 {
  0% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(65deg) translateY(0px);
      transform: rotateZ(65deg) translateY(0px);
  }
  
  63% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(65deg) translateY(0px);
      transform: rotateZ(65deg) translateY(0px);
  }
  
  64% {
      background-color: rgba(51, 51, 51,1);
      -webkit-transform: rotateZ(65deg) translateY(0px);
      transform: rotateZ(65deg) translateY(0px);
  }
  
  97% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(65deg) translateY(-35px);
      transform: rotateZ(65deg) translateY(-35px);
  }
  
  100% {
      background-color: rgba(51, 51, 51,0);
      -webkit-transform: rotateZ(65deg) translateY(-35px);
      transform: rotateZ(65deg) translateY(-35px);
  }
}

/* Log in */
#fb-login {
  background: linear-gradient(#4267B2, #375592);
  box-shadow: 2px 4px 10px 0px rgba(57, 59, 70, 0.45);
}

#fb-login:hover {
  background: linear-gradient(#375592, #375592);
}

#google-login {
  background: linear-gradient(#dd4b39, #B53E2F);
  box-shadow: 2px 4px 10px 0px rgba(57, 59, 70, 0.45);
}

#google-login:hover {
  background: linear-gradient(#B53E2F, #B53E2F);
}

/* Register */


/* Search */
.navbar {
  background-color: var(--medium-geek); /*lavender*/
}

.logo-nav {
  width: 45px;
}

/* Helpers */
a {
  color: var(--main-geek);
}

a:hover {
  color: var(--medium-geek);
  text-decoration: none;
}

.min100vh {
  min-height: 100vh;
}

.max400 {
  max-width: 400px;
}

.page-header {
  min-height: 40vh;
}

.page-content {
  min-height: 60vh;
}

.geek-bg {
  background: linear-gradient(var(--main-geek), var(--medium-geek) 50%, #fff);
}

.geek-gray-bg {
  background: linear-gradient(#fff, #e9e9e9)
}

.icon-btn {
  width: 36px;
  border: none;
}

.btn-geek {
  background: linear-gradient(to right, var(--medium-geek),var(--main-geek));
  color: #ffff;
  box-shadow: 2px 4px 10px 0px rgba(57, 59, 70, 0.45);
  transition: .5s;
}

.btn-geek:hover {
  background: linear-gradient(to right, var(--medium-geek-hover),var(--main-geek-hover));
}

.rounded-corners {
  border-radius: 20px;
}

.form-control.geek-input {
  border: none;
  border-bottom: 1px solid #ced4da;
}


@media (max-width: 991.99px) {
  .navbar-brand {
    text-align: center;
    width: 80%;
  }
}

/* Movie Info */

.banner-movie {
  background-image: url('../assets/images/wwmovie.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  padding: 15px;
}

a.btn-back, a.btn-add {
  background-color: #fbfbfd96;
  border-radius: 50%;
  color: black;
  padding: 3px 10px;
}

a.btn-add, a.btn-share {
  color: rgb(167, 166, 166);
  padding: 3px 10px;
}

a.btn-add:hover, a.btn-share:hover {
  background-color: transparent;
  border: 1px solid rgb(167, 166, 166);
  border-radius: 50%;
  color: rgb(167, 166, 166);
}

.btn-back i, .btn-add i, .btn-share i {
  font-size: .8rem;
  font-weight: lighter;
  margin-top: .6rem;
}

.main-poster {
  border: 1px solid #987ae4;
  background-color: #e7deec;
  border-radius: 10px;
  height: 150px;
  margin-top: 10px;
}

.title-movie {
  color: initial;
  font-weight: 700;
  padding-top: 10px;
}

.gray {
  color: #a7a6a6;
}

.duration-movie, .release-year-movie, .director-movie, .tag-movie {
  font-size: .8rem;
  margin-bottom: .3rem;
  padding-bottom: 3px;
}

.tag-movie {
  border: 1px solid gainsboro;
  border-radius: 3px;
  display: inline-block;
  padding: 3px;
  text-align: center;
}

h6 {
  font-weight: 700;
}

.actor-movie {
  border: 1px solid #987ae4;
  background-color: #e7deec;
  border-radius: 10px;
  height: 150px;
}

.sinopsis-movie, .cast-movie {
  padding: 20px;
}

.actors span {
  border: 1px solid gainsboro;
  border-radius: 3px;
  padding: 0 5px;
}

.margin-top {
  margin-top: 2em;
}

.transparent {
  background-color: transparent;
}

figure {
  padding: 1em;
  box-sizing: border-box;
}

figcaption {
  margin-top: 0.5em;
}

li:active {
  border-bottom: 1px solid blue;
}

.box-shadow {
  box-shadow: 6px 7px 6px -4px rgb(206, 206, 206);
}

.fa-trash-o {
  color: #000;
  font-size: 1.5em;
}

 @media screen and (min-width:576px) {
  #user-profile-panel {
    /* width: 250px; */
    border: 1px solid grey;
    box-shadow: 6px 7px 6px -4px rgb(206, 206, 206);
    height: 50vh;
    /* float: left; */
    border-radius: 20px;
  }
}
