<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Fuentes -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:300" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <!-- Estilos del proyecto -->
  <link rel="stylesheet" href="../css/main.css">  
  <title>Geek Movie</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12 banner-movie">
        <a href="#" class="btn-back"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="main-poster"></div>
      </div>
      <div class="col-8 gray">
        <h5 class="title-movie">Título de la película</h5>
        <p class="duration-movie"><span><i class="fa fa-clock-o" aria-hidden="true"></i></span> 2h 5min</p>
        <div class="row">
          <div class="col">
            <div class="release-year-movie"><i class="fa fa-calendar-o" aria-hidden="true"></i> 15/05/2017</div>              
          </div>
          <div class="col">
            <div class="director-movie"><i class="fa fa-video-camera" aria-hidden="true"></i> Patty Jenkins</div>              
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="tag-movie">SCI-FI</div>
            <div class="tag-movie">SUPERHEROES</div>
            <div class="tag-movie">FICCION</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="#" class="btn-add"><i class="fa fa-plus" aria-hidden="true"></i></a>          
            <a href="#" class="btn-share"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
          </div> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col sinopsis-movie">
        <h6>Storyline</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quos nobis adipisci odit a, cupiditate accusantium qui voluptates expedita voluptatem recusandae saepe aliquam eveniet dolor veniam voluptate provident? Voluptates, minus!</p>
      </div>
    </div>
    <div class="row">
      <div class="col cast-movie">
        <h6>Cast</h6>
        <div class="actors">
          <span>Franco Antonio</span>
          <span>Maria</span>
          <span>Julia</span>
          <span>Ken</span>
          <span>Lucas</span>
        </div>
    </div>
  </div>


  
  <!-- Firebase -->

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Bootstrap -->
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <!-- Scripts del proyecto -->
  <script src="../js/app.js"></script>
</body>
</html>