<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <!-- Fuentes -->
  <link href="https://fonts.googleapis.com/css?family=Oxygen:300" rel="stylesheet">
  <!-- Estilos del proyecto -->
  <link rel="stylesheet" href="../css/main.css">
  <title>Regístrate</title>
</head>

<body>
  <main>
  </main>

  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Bootstrap -->
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <!-- Scripts del proyecto -->
  <script src="../js/app.js"></script>
</body>

</html>