<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
 <!-- Fuentes -->

 <!-- Estilos del proyecto -->
 <title>MovieGeek</title>
</head>
<body>
  <div class="container-fluid">
    <h1>Aqui va el nav</h1>
    <div class="row">
      <div class="col-xs-4">
        <input id="titleFld" type="text" class="form-control" placeholder="busca tu película">
        <button id="searchBtn" type="button" class="btn btn-primary btn-block">Search</button>
        <ul id="movieList" class="list-group">
          <li class="list-group-item">The Movie</li>
        </ul>
      </div>
      <div class="col-xs-8">

      </div>

    </div>
  </div>

 <!-- jQuery -->
 <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
 <!-- Bootstrap -->
 <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
 <!-- Scripts del proyecto -->
 <script src="../js/search.js"></script>
</body>
</html>
